<h1>Listing princesses</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Wealth</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @princesses.each do |princess| %>
  <tr>
    <td><%= princess.name %></td>
    <td><%= princess.wealth %></td>
    <td><%= link_to 'Show', princess %></td>
    <td><%= link_to 'Edit', edit_princess_path(princess) %></td>
    <td><%= link_to 'Destroy', princess, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Princess', new_princess_path %>
